.form-outline {
 margin: 10px;
  

}

h4 {
  text-align: center;
  color: #fff;
}

.main {
  border-radius: 40px;
  margin-left: 20vw;
  margin-top: 15vh;
  width: 60vw;
  background: linear-gradient(135deg, #ffc827 0%, #ff2727dd);
}

.q {
  padding: 2vw;
  width: 40vw;
  margin-left: 10vw;
  text-align: center;
}

.btn {
  width: 20vw;
  margin-top: 2vh;
  margin-left: 9vw;
  /* background: linear-gradient(135deg, #ffc827 0%, #ff2727dd); */
}

.form-outline1 {
  
}