<div class="main">
    <div class="q">
        <form [formGroup]="submitForm" (ngSubmit)="submit()"  >
            <div class="row" >
              <h4>Please Enter The Details Below</h4>
            </div>
              <div class="row">
                <div class="form-outline">
                  <input type="text" formControlName="from" id="from" placeholder="Please enter the fromPath ( if multi use ',' ) *" name="from" class="form-control" />
                  
                </div>
              </div>
              <div class="row">
                <div class="form-outline">
                  <input type="text" formControlName="to" id="form3Example2" placeholder="Please enter the fromPath ( if multi use ',' ) *" name="to" class="form-control" />
                  
                </div>
              </div>
            
          
           
            <div class="row">
              <div class="form-outline">
                <input type="text" id="zipname" formControlName="zipname" placeholder="Zipname *" name="zipname" class="form-control" />
                
            </div>
            </div>
            <div class="row">
              <div class="form-outline">
                <input type="text" onfocus="(this.type='date')"  onmouseleave="(this.type='text')" onmouseenter="(this.type='date')"  formControlName="fromdate" placeholder="FromDate *" name="fromdate" class="form-control" />
                
            </div>
            </div>
            <div class="row">
              <div class="form-outline ">
                <input type="text" onfocus="(this.type='date')"  onmouseleave="(this.type='text')" onmouseenter="(this.type='date')" formControlName="todate" name="todate" placeholder="ToDate *" class="form-control" />
                
                </div>
              </div>
            <div class="row" >
              <button type="submit"  class="btn btn-primary btn-block ">Submit</button>
            </div>
          <br>
          <h6>{{movies}}</h6>
         
            
        </form>
    </div>
    
</div>

